.button {
    @apply px-4 py-2 inline-flex items-center justify-center;
    @apply rounded text-sm font-medium transition-colors duration-150;
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800;

    /* Sizing Controls */
    &.small {
        @apply px-3 py-1.5 text-xs;
    }

    &.large {
        @apply px-5 py-2.5;
    }

    &.secondary {
        @apply text-gray-200 bg-transparent;

        &:disabled {
            background: transparent !important;
        }
    }

    &:disabled {
        @apply cursor-not-allowed opacity-50;
    }

    &.square {
        @apply p-0 w-10 h-10;

        &.small {
            @apply w-8 h-8;
        }
    }
}

.primary {
    @apply bg-indigo-600 text-white;

    &:hover {
        @apply bg-indigo-500;
    }

    &:focus {
        @apply ring-indigo-500;
    }

    &.secondary {
        @apply bg-transparent text-indigo-400;

        &:hover {
            @apply bg-indigo-600/20;
        }
    }

    &:disabled {
        @apply bg-indigo-600/50;
    }
}

.text {
    @apply bg-gray-600 text-gray-100;

    &:hover {
        @apply bg-gray-500;
    }

    &:focus {
        @apply ring-gray-500;
    }

    &.secondary {
        @apply bg-transparent text-gray-300;

        &:hover {
            @apply bg-gray-600/50;
        }
    }

    &:disabled {
        @apply bg-gray-600/50;
    }
}

.danger {
    @apply bg-red-600 text-white;

    &:hover {
        @apply bg-red-500;
    }

    &:focus {
        @apply ring-red-500;
    }

    &.secondary {
        @apply bg-transparent text-red-400;

        &:hover {
            @apply bg-red-600/20;
        }
    }

    &:disabled {
        @apply bg-red-600/50;
    }
}